.connect {
  background: url("../app/image/mask.png") #0A2640 no-repeat;
  border-radius: 12px;

  &__container {
    max-width: 716px;
    margin: 0 auto;
    padding: 72px 0;
    text-align: center;
  }

  &__title {
    margin-bottom: 48px;
    color: white;
  }

  &__form {
    display: flex;
    align-items: center;
    justify-content: center;

    &__input {
      width: 370px;
      
      padding: 12px 32px;
      border: 2px solid #000;
      border-radius: 240px;

      &-mr {
        margin-right: 24px;
      }
    }

    &__btn {
      padding: 16px 56px;
      background-color: #65E4A3;
      border: 2px solid #65E4A3;
      border-radius: 56px;
      font-size: 20px;
      font-weight: 700;
      color: #0A2640;
    }
  }
}